@font-face {
  font-family: console;
/*  src: url('../fonts/Ac437_IBM_BIOS-2y.ttf'); */
  src: url('../fonts/morris_roman/MorrisRomanBlackAlt.otf');
}

* {
	box-sizing: inherit;
	text-shadow: inherit;
	font-family: inherit;
	font-size: inherit;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	user-select: none;
	image-rendering: pixelated;
	color: inherit;
}

*:focus {
  outline: none;
}

body {
	background: #000;
	color: #eeeeee;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	overflow: hidden;
	cursor: crosshair;
	line-height: 150%;
	font-family: console;
	font-size: 28px;
}

a {
	color: rgba(255, 255, 180, 0.8);
	cursor: pointer !important;
}

a:hover {
	color: rgba(255, 255, 230, 1.0);
	text-shadow: 0 0 12px rgba(255, 255, 230, 1.0);
}

nav {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	padding: 8px;
	background: rgba(100,100,100,0.3);
}

footer {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}

footer > button {
	padding: 8px;
	text-align: center;
	min-width: 160px;
}

#frame-rate {
	padding: 8px;
	font-size: 80%;
}

input[type=text], input[type=password], input[type=number], button {
	border: 4px solid rgba(255,255,255,0.2);
	padding: 8px;
	transition: all 1s ease;
	border-radius: 12px;
}

button {
	display: inline-block;
	background: rgba(120,120,120,0.5);
	cursor: pointer;
	vertical-align: top;
	color: white;
}

button:hover,input[type=text]:hover, input[type=text]:focus,
input[type=password]:focus, input[type=number]:focus {
	border-color: yellow;
}

input[type=text],input[type=password],input[type=number] {
	background: #000000;
	color: yellow;
	width: 100%;
	margin: -4px;
}

.screenui-window {
	position: absolute;
	border: 8px solid rgba(255,255,255,0.1);
	overflow: auto;
	background: rgba(120, 120, 120, 0.5);
	backdrop-filter: blur(5px);

	left: 0px;
	right: 0px;
	margin-left: auto;
	margin-right: auto;

	width: 640px;
	height: 420px;

	transition: all 1s ease;
	transform: rotate3d(0,1,0,90deg);
	opacity: 0;
}

.sections > div {
	margin: 16px;
}

h1 {
	background: rgba(0,0,0,0.5);
	margin: 0;
	margin-bottom: 12px;
	padding: 8px;
}

#screen_connection_status {
	bottom: 40px;
	text-align: center;
	height: auto;
	border-color: DarkOrange;
	background: DarkOrange;
	color: black;
}
